body {
  font-family: sans-serif;
  color: #333;
  background-color: #eee;
  text-align: center;
}

h1 {
  font-size: 4em;
}

h1:hover {
  background-color: black;
  color: white;
}

p {
  text-align: left;
  width: 600px;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
}

p::first-letter {
  font-size: 2em;
  /*font-family: georgia;*/
}

.evidence {
  background-color: black;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

li {
  color: white;
}
