body {
  font-family: sans-serif;
  color: #333;
  background-color: #eee;
  text-align: center;
  font-size: 18px;
  background-color: rgba(255, 0, 0, 0.5);
}

h1 {
  font-size: 4em;
}

h1:hover {
  background-color: black;
  color: white;
}

p {
  text-align: left;
  width: 600px;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  border: 3px dotted magenta;
  padding: 1em;
}

p::first-letter {
  margin-left: 3rem;
  font-size: 3rem;
}

p::selection {
  background-color: black;
  color: magenta;
}

.evidence {
  background-color: black;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

li {
  color: white;
  font-size: 2rem;
}
